*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#mynav{
  display: flex;
  gap: 800px;
  justify-content: space-between;
 
}
body{
  width: 100%;
}
.container{
  width: 60%;
  padding-left: 20px;
}